# ==========================================
# DATABASE (Supabase PostgreSQL)
# ==========================================
# Connection Pooler (Digunakan oleh aplikasi / Prisma Client)
DATABASE_URL="postgresql://postgres.yzuccmibmpblqjvvtahe:atangantengyak@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"

# Direct Connection (Digunakan untuk migration atau db push jika diperlukan)
DATABASE_DIRECT_URL="postgresql://postgres:atangantengyak@db.yzuccmibmpblqjvvtahe.supabase.co:5432/postgres?sslmode=require"

# ==========================================
# APPLICATION
# ==========================================
# Port aplikasi
PORT=3000

# ==========================================
# JWT AUTHENTICATION
# ==========================================
# Secret key untuk membuat dan memverifikasi JWT
JWT_SECRET=superrahasia123

# ==========================================
# CLOUDFLARE R2 (Image Storage)
# ==========================================
# Cloudflare Account ID
CLOUDFLARE_R2_ACCOUNT_ID=""

# Access Key ID
CLOUDFLARE_R2_ACCESS_KEY_ID=""

# Secret Access Key (RAHASIA)
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""

# Bucket Name
CLOUDFLARE_R2_BUCKET_NAME=""

# Public URL / CDN URL
CLOUDFLARE_R2_PUBLIC_URL=""